*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}


.img-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;

}
.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    box-shadow:0 0 700px 15px white ;
    rotate: -30deg;
    z-index: -1;
}
.container{
    width: 1005;
    margin: 0 auto;
    padding: 0 2rem;

}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;

   
}
header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: -5%;
    
}
nav a{
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    cursor: pointer;
    z-index: 999;
  
    

}


nav a:hover{
        color: #a7a7a7;
    }

.btn-signing{
    position: relative;
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background: none;
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;

 
}

.liquid {
  background: linear-gradient(#ffffff 0 0) no-repeat calc(200% - var(--p, 0%))
    100% / 200% var(--p, 0.2em);
  transition: 0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
  --p: 100%;
  --t: 0.3s;
  color: #000000;
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh -6rem);
    margin-top: 5rem;

    /* align-items: center; */
}

.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
   

}

.tag-box{
    position: relative;
    width: 10rem;
   height: 2.5rem;
   border-radius: 50px;
   /* border: 2px solid white; */
   background: linear-gradient(to right, #656565, #7f42a7, #6600c5,
    #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
   

}
@keyframes animationGradient{
    to{
        background-position: 200%;

    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;


}

.tag-box .tag:hover{
    color: #5300a0;

}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing:0.1rem ;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(207, 13, 13, 0.418);
    

}
.description{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: gray;


}

.buttons{
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;

}

.join-us{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition:  background-color 0.2s ease;
    



}

join-us:hover{
    background-color: #1a1a1a;

}


.Our-Partners{
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: bac;


}

.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
    
    
}
@media (max-width:1300px){
    header{
        padding: 1rem 0.5rem;

    }
    .content{
        margin-top: 85%;

    }
    .robot-3d{
        scale: 0.8;
        top: -20%;
        right: 2%;
    }

}

@media (max-width:768px){
    header{
        padding: 1rem 0.1rem;

    }
    .content{
        margin-top: 85%;

    }
    nav{
        display: none;

    }
    header h1{
        font-size: 2rem;

    }
    .btn-signing{
        padding: 0.6rem 1.5rem;

    }

    .content{
        margin-top: 25rem;

    }
    .robot-3d{
        scale: 0.5;
        top: -25%;
        right: 0;


    }

    .content{
        max-width: 30rem;
        margin-left: 10%;


    }
    .tag-box{
        width: 12rem;

    }
    .content h1{
        font-size: 2.5rem;

    }
    .description{
        font-size: 1rem;
    }
}

